*.iml
.gradle
/local.properties
/.idea
/buildSrc/build/
/app/build/
/domain/build/
/data/build/
/categories/data/build/
/categories/domain/build/
/categories/ui/build/
/chat/data/build/
/chat/domain/build/
/chat/ui/build/
/comments/data/build/
/comments/domain/build/
/comments/ui/build/
/core/data/build/
/core/domain/build/
/core/ui/build/
/effects/data/build/
/effects/domain/build/
/effects/ui/build/
/firebase/database/build/
/firebase/firestore/build/
/gears/data/build/
/gears/domain/build/
/gears/ui/build/
/heroes/data/build/
/heroes/domain/build/
/heroes/ui/build/
/heroInfo/data/build/
/heroInfo/domain/build/
/heroInfo/ui/build/
/mains/data/build/
/mains/domain/build/
/mains/ui/build/
/mechanics/data/build/
/mechanics/domain/build/
/mechanics/ui/build/
/sets/data/build/
/sets/domain/build/
/sets/ui/build/
/users/data/build/
/users/domain/build/
/users/ui/build/
/maps/data/build/
/maps/domain/build/
/maps/ui/build/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/google-services.json
*.jks
key.json
gradle
app/release/
app/src/androidTest/
app/src/test/
/data/
/domain/