*.iml
.gradle
/local.properties
/.idea
/buildSrc/build/
/app/build/
/domain/build/
/data/build/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/google-services.json
*.jks
key.json
gradle
app/release/
app/src/androidTest/
app/src/test/